.CartItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.CartItem img {
    height: 4em;
}
.CartItem__count span {
    padding: 0.375em 0.5em;
    border: 1px solid rgba(0,0,0,0.8);
    margin: 0 0.5em;
    cursor: pointer;
}

.CartItem button {
    padding: 0.375em 0.75em;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}